


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<p>IMPORTANT: When analysing results obtained with XTABLE, the following
methodological and clinical differences between studies need to be
considered: <br></p>
<ol>
<li>
<p><font size="+1"> <b> Differences in progression status definitions
<br> </b> </font></p>
<p>GSE109743 (Beane at al., 2019) <br></p>
<ul>
<li>
Normal-stable: Change between normal, hyperplasia and metaplasia.
</li>
<li>
Regressive: Regression from dysplasia to a less severe dysplastic grade,
or from dysplasia to normal/hyperplasia/metaplasia.
</li>
<li>
Persistent/progressive: All the remaining samples
</li>
</ul>
<p>GSE114489 (Merrick et al., 2018) <br></p>
<ul>
<li>
Persistent dysplasias: Dysplastic lesions with the same or higher
severity scores in follow-up biopsies.
</li>
<li>
Regressive dysplasias: Dysplasias progressing to lower severity scores.
</li>
<li>
Progressive non-dysplasias: Biopsies with normal or hyperplastic
morphologies that progress to more severe morphologies.
</li>
<li>
Stable non-dysplasias: normal or hyperplastic pathology that remain
stable in follow-up biopsies.
</li>
</ul>
<p>GSE114489 (Merrick et al., 2018) <br></p>
<ul>
<li>
Persistent dysplasias: Dysplastic lesions with the same or higher
severity scores in follow-up biopsies.
</li>
<li>
Regressive dysplasias: Dysplasias progressing to lower severity scores.
</li>
<li>
Progressive non-dysplasias: Biopsies with normal or hyperplastic
morphologies that progress to more severe morphologies.
</li>
<li>
Stable non-dysplasias: normal or hyperplastic pathology that remain
stable in follow-up biopsies.
</li>
</ul>
<p>GSE108124 (Teixeira et al., 2019) <br></p>
<ul>
<li>
Progression: Transition to invasive carcinomas in follow up biopsies.
</li>
<li>
Regression: Transition to low-grade dysplasia or normal epithelium. <br>
</li>
</ul>
<p><br></p>
<li>
<p><font size="+1"> <b> Differences in methodologies <br> </b>
</font></p>
<table>
<tr>
<th>
GEO accession
</th>
<th>
PMID
</th>
<th>
Stages
</th>
<th>
Progression status known
</th>
<th>
Number of Samples
</th>
<th>
Sample type
</th>
<th>
Method
</th>
</tr>
<tr>
<td>
GSE33479
</td>
<td>
31243362
</td>
<td>
Multiple
</td>
<td>
No
</td>
<td>
122
</td>
<td>
Whole biopsies
</td>
<td>
Microarray
</td>
</tr>
<tr>
<td>
GSE109743
</td>
<td>
31015447
</td>
<td>
Multiple*
</td>
<td>
Yes
</td>
<td>
448: <br> Discovery cohort (197 Bx, 91 Br); <br> Validation cohort
(111Bx, 49 Br)
</td>
<td>
Whole biopsies and brushes
</td>
<td>
RNAseq
</td>
</tr>
<tr>
<td>
GSE114489
</td>
<td>
29997230
</td>
<td>
Dysplasias, <br> Normal
</td>
<td>
Yes
</td>
<td>
63
</td>
<td>
Whole biopsies
</td>
<td>
Microarray
</td>
</tr>
<tr>
<td>
GSE108124
</td>
<td>
30664780
</td>
<td>
CIS
</td>
<td>
Yes
</td>
<td>
33
</td>
<td>
Microdissected
</td>
<td>
Microarray
</td>
</tr>
</table>
<p>Table legend: Description of the four cohorts included in XTABLE. (*)
This cohort includes neither CIS nor Invasive carcinomas. Bx: biopsies;
Br:brushings</p>
</li>
</ol>
