


<div id="introduction-to-the-xtable-shiny-app" class="section level1">
<h1>Introduction to the XTABLE Shiny app</h1>
<div id="exploring-the-transcriptome-of-bronchial-lesions" class="section level2">
<h2>eXploring the TrAnscriptome of Bronchial LEsions</h2>
<p>This Shiny app is for the analysis of four publicly available
datasets from Gene Expression Omnibus (<a href="https://www.ncbi.nlm.nih.gov/geo/" class="uri">https://www.ncbi.nlm.nih.gov/geo/</a>). <br> GSE33479: <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE33479" class="uri">https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE33479</a>
(Mascaux et al., 2019) <br> GSE114489: <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE114489" class="uri">https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE114489</a>
(Merrick et al., 2018) <br> GSE108124: <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE108124" class="uri">https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE108124</a>
(Teixeira et al., 2019) <br> GSE109743: <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE109743" class="uri">https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE109743</a>
(Beane et al., 2021) <br></p>
<p>This app consists of 12 tabs. Some tabs (e.g. GSEA, PA, Heatmap)
require results that are generated in another tab (e.g. DEG).
Notifications will appear informing the user of what processing is
happening (e.g. normalising data, calculating scores, merging data,
etc). If the notification has not disappeared or updated (some
notifications state how many processing steps remain ) after
~3-5minutes, there’s a bug and refresh the app. The app is intended to
be used in a specific order but some care has been taken to account for
premature analyses (e.g. trying to generate gene set enrichment analysis
results before generating the list of differentially expressed genes).
If there is a bug and you need help resolving it, please contact: <a href="mailto:matthew.roberts@cruk.manchester.ac.uk" class="email">matthew.roberts@cruk.manchester.ac.uk</a></p>
</div>
<div id="datasets" class="section level2">
<h2>Datasets</h2>
<p>This tab explains the differences in progression status definitions
and methodologies between the datasets included for analysis.</p>
</div>
<div id="load" class="section level2">
<h2>Load</h2>
<p>The dataset tab allows the user to retrieve the four datasets. First
the user selects the dataset they wish to analyse and then need to click
the ‘Retrieve data’ button to get the data.GSE109743 has additional
filtering options giving the user the option to filter by cohort, sample
type and progression status. If analysing GSE109743, please wait for
these additional filtering options to appear before clicking the button
to read in the data. It’s possible that the additional filtering options
get delayed and clicking the button before these additional filtering
options appear will cause the app to silently hang.</p>
</div>
<div id="cin-score" class="section level2">
<h2>CIN-Score</h2>
<p>The chromosome instability score is calculated using the sum of
expression of genes that act as a surrogate of genomic chromosome
instability measurements. The gene signature is correlated with
aneuploidy and is associated with poor clinical outcome for several
cancer types including lung cancer. In this app we use CIN70*, CIN25 and
CIN5 which uses 70*, 25 and 5 genes respectively to calculate the
CIN-score. <br> CIN paper: <a href="https://pubmed.ncbi.nlm.nih.gov/16921376/" class="uri">https://pubmed.ncbi.nlm.nih.gov/16921376/</a> <br> * The
CIN70 signature includes fusion gene C20orf24-TGIF2. This fusion gene
has not been included in the signature leaving 69 genes for the CIN70
signature.</p>
<p>This tab can be used to confirm appropriate thresholds for grouping
samples based on CIN-score for CIN70*, CIN25 and CIN5 signatures.</p>
</div>
<div id="deg" class="section level2">
<h2>DEG</h2>
<p>The DEG tab is for performing differentially expressed gene analysis.
Samples can be grouped by stage/progression or by CIN-score. For disease
stage, once a stage is selected for the first contrast, options for the
second contrast will appear. Clicking ‘Click to run analysis’ will
generate the DEG results. Once the results have been generated, AUC is
calculated for each gene signifying how well samples can be
distinguished between the two contrasts. Results are then further
filtered so that genes with p-adjusted value less than or equal to the
p-adjusted threshold and an absolute log-fold-change greater than or
equal to the log-fold-change threshold. Lastly, the app attempts to add
addition gene identifiers (Ensembl ID, gene symbols, Entrez ID) that can
help identify genes by more user-friendly IDs (gene symbols) as well as
for downstream analyses (enrichment analyses). <br> Currently, a fixed
effects model is used to generate the DEG results. However several
datasets have multiple samples from the same patient (e.g. GSE33479 has
122 samples from 78 patients while GSE109743 has 448 samples from 50
patients). Current app promotes speed and flexibility (attempts to use a
random effects model took &gt;25 minutes to generate results). Future
updates may include incorporating a random effects model if feasible.
<br> Users can also download the results and these results can be used
in additional analysis tools: <br> Bioconductor GSEA: <a href="http://www.bioconductor.org/packages/release/BiocViews.html#___GeneSetEnrichment" class="uri">http://www.bioconductor.org/packages/release/BiocViews.html#___GeneSetEnrichment</a>
<br> Bioconductor Pathway: <a href="http://www.bioconductor.org/packages/release/BiocViews.html#___Pathways" class="uri">http://www.bioconductor.org/packages/release/BiocViews.html#___Pathways</a>
<br> Web-tools e.g.: <a href="https://biit.cs.ut.ee/gprofiler/gost" class="uri">https://biit.cs.ut.ee/gprofiler/gost</a> ; <a href="http://amigo.geneontology.org/amigo" class="uri">http://amigo.geneontology.org/amigo</a> ; <a href="https://reactome.org/" class="uri">https://reactome.org/</a> ; <a href="https://maayanlab.cloud/Enrichr/" class="uri">https://maayanlab.cloud/Enrichr/</a> ; <a href="http://revigo.irb.hr/" class="uri">http://revigo.irb.hr/</a> ; <a href="https://toppgene.cchmc.org/" class="uri">https://toppgene.cchmc.org/</a> ; <a href="http://www.webgestalt.org/" class="uri">http://www.webgestalt.org/</a> ; <a href="http://pantherdb.org/" class="uri">http://pantherdb.org/</a> ; <a href="https://david.ncifcrf.gov/home.jsp" class="uri">https://david.ncifcrf.gov/home.jsp</a></p>
</div>
<div id="gsea-and-pa" class="section level2">
<h2>GSEA and PA</h2>
<p>Several gene set enrichment analysis and pathway analysis tools are
included in the app. These analyses require that the DEG analysis
results are generated first.</p>
<p>goseq: The package ideal was used to generate gene set enrichment
analysis for the Gene Ontology biological process, cellular compartment
and molecular function domains and using Ensembl IDs as input. ideal
uses limma::goseq but adds an additional column to the results
highlighting which of the DEGs contribute to the GO term. However
results using ideal are limited to 200 terms. Results are also filtered
by adjusted p-value.</p>
<p>fgsea/MSigDB: Analysis performed using fgsea package with MSigDB gene
set collections (hgnc symbols) and using gene symbols as input. MSigDB
gene set collections fall under 9 major collections (H, C:1-8). Some
major collections are made of several smaller collections. Analysis can
be performed on the smaller collections.</p>
<p>enrichR: Analysis using enrichR package and gene symbols as input.
There are 192 gene-set libraries for enrichR including Gene Ontology and
KEGG. Users will find Gene Ontology domains begin with “GO_” and end
with the version year (e.g. “GO_Biological_Process_2021”) and similarly
for KEGG (“KEGG_2021_Human”). Results are filtered by adjusted
p-value.</p>
<p>gage: Enrichment analysis using the gage and gageData packages and
Entrez IDs as input. Analysis can be performed using KEGG pathways and
GO domains. Analysis results are separated into their two test
categories (greater (up-regulated)/less (down-regulated)) and filtered
by q-value.</p>
<p>kegga/pathview: Pathway analysis using limma package and Entrez IDs
as input. Results are filtered by p-value. The column of gene symbols
was manually created and represents the DEGs that are part of the KEGG
pathway. 192 KEGG pathways and the genes that are associated to each
pathway were retrieved from org.Hs.eg.db::org.Hs.egPATH2EG and converted
from Entrez ID to gene symbols. Additionally, the signficant KEGG
pathways determined using limma package can then be used as input for
pathview package. Users can select pathways based on the user-friendly
pathway name which is then converted to the HSA ID required for
pathview. pathview package was used to retrieve (significant) KEGG
pathways as an image of the KEGG pathway with fold-change data
overlapped.</p>
<p>ReactomePA: Enrichment analysis using ReactomePA package and Entrez
IDs as input. Results filtered by p-adjusted values. ReactomePA outputs
a column (geneID) containing Entrez IDs which is manually converted to
gene symbols.</p>
<p>Progeny: Results generated using progeny package and normalised
(microarray data as is or CPM) gene expression. 14 pathways are included
but 3 don’t work (WNT, Androgen, Estrogen) didn’t work on Shiny server
(progeny v1.8.0) but worked for progeny v1.12.0. progeny results do not
require DEG results.</p>
<p>Dorothea: Results generated with dorothea package and gene symbols
and regulons filtered by confidence containing “A”, “B” and “C” as
input. Results filtered by absolute NES.</p>
</div>
<div id="signature" class="section level2">
<h2>Signature</h2>
<p>User-defined signatures can be defined where scores are calculated
using the sum of expression of the genes specified by the user. Users
can download their list of selected genes and/or upload a list of genes
in a commma-separated values (csv) file. Additionally, users can perform
a Welch’s t-test between two groups.</p>
</div>
<div id="deconvolution" class="section level2">
<h2>Deconvolution</h2>
<p>Deconvolution analysis was carried out using ESTIMATE for microarray
data (GSE33479, GSE114489 and GSE108124) and imsig for RNA-seq data
(GSE109743). ESTIMATE results are pre-generated and include a “Stromal”,
“Immune” and “ESTIMATE” score for all microarray datasets. Results for
GSE114489 includes an additional “Tumor purity” score since ESTIMATE
calculates “Tumor purity” for Affymetrix platforms and GSE33479 and
GSE108124 used Agilent and Illumina platforms. Both ESTIMATE and imsig
require gene symbols for IDs. imsig additionally needs genes with low
variance to be removed. This could be done with caret’s nearZeroVar
function but takes too long. Variance for each gene was calculated and
genes with variance below a threshold (0.001), that resulted in 98.62%
similar result as nearZeroVar, were removed.</p>
</div>
<div id="roc" class="section level2">
<h2>ROC</h2>
<p>ROC curves/AUC can be calculated for user-specified genes using the
pROC package. AUC is calculated automatically for differentially
expressed genes in the DEG tab, here users can calculate AUC for any
gene.</p>
</div>
<div id="heatmap" class="section level2">
<h2>Heatmap</h2>
<p>Heatmaps can be generated using either highest variance genes,
differentially expressed genes (user needs to generate DEG results
first) or user-selected genes using pheatmap package.</p>
</div>
<div id="pca" class="section level2">
<h2>PCA</h2>
<p>Principal components calculated using the stats package.</p>
</div>
<div id="genes" class="section level2">
<h2>Genes</h2>
<p>There are 3 sub-tabs. The Expr-sub-tab confirms the (maximum) gene
expression values. The Indv_Contrast sub-tab generates DEG analysis
results for all stages/progressions (using one stage/progression as a
reference) and users can retrieve results for a specific gene for all
comparisons. The Mult_Contrast tab allows the user to group
stages/progressions before generating DEG results and viewing results
for a specific gene for all comparisons. Multiple contrast results are
not available for GSE108124 since there are only two progression
groups.</p>
</div>
<div id="general-comments" class="section level2">
<h2>General comments</h2>
<p>Normalisation: <br> Microarray/Affymetrix data retrieved from GEO was
already normalised. <br> GSE33479: gene expression values ( ln(Cy5/Cy3)
) retrieved from GEO. <br> GSE114489: log2 RMA values retrieved from
GEO. <br> GSE108124: Quantile normalized values retrieved from GEO. <br>
GSE109743: Raw gene counts in supplementary files retrieved from GEO
were converted to CPM, calculated using edgeR::CPM() and then log2()+1
transformed <br></p>
<p>Max gene expression values: <br> Some probes map to the same gene
symbol. Several solutions (mean, median, probe with highest mean, probe
with highest variance) are proposed in forums. This app resolves this
issue by selecting the maximum probe value associated to a gene for each
sample (<a href="https://www.researchgate.net/post/How-to-create-gene-expression-files-from-CEL-files-of-Affy-microarray" class="uri">https://www.researchgate.net/post/How-to-create-gene-expression-files-from-CEL-files-of-Affy-microarray</a>;
<a href="https://cran.r-project.org/web/packages/AnnoProbe/AnnoProbe.pdf" class="uri">https://cran.r-project.org/web/packages/AnnoProbe/AnnoProbe.pdf</a>).</p>
<p>Gene ID mapping files: <br> There are unique mapping files for each
dataset that map various IDs. GSE33479 includes probe ID, gene symbols
and Ensembl transcript ID. More information about how data was retrieved
is supplied below. Majority of genes had identical IDs when mapping
based on these three IDs. When there was a discrepancy, gene IDs mapped
using gene symbols were prioritised, then probe IDs and finally
remaining genes with missing IDs were mapped using transcript IDs. For
GSE114489, there were discrepancies when comparing Ensembl IDs obtained
from BioMart and org.Hs.eg.db and IDs from BioMart were prioritised.</p>
</div>
<div id="packages" class="section level2">
<h2>Packages:</h2>
<p>Bioconductor package GEOquery (2.54.1) was used to retrieve the data
and the Bioconductor package Biobase (2.46.0) used to extract the gene
expression values for microarray datasets. The Bioconductor package
limma (3.42.2) was used to generate differentially expressed gene
analysis results. Bioconductor packages AnnotationDbi (1.48.0) and
org.Hs.eg.db (3.10.0) were used to retrieve additional gene IDs.
Additional gene IDs were retrieved from Ensembl BioMart website (<a href="https://www.ensembl.org/biomart/martview/" class="uri">https://www.ensembl.org/biomart/martview/</a>) with Ensembl
Genes 104 dataset and Human Genes GRCh38.p13 to generate four mapping
files with the following attributes: ‘Gene stable ID’ and ‘AGILENT
WholeGenome 4x44k v1 probe’; ‘Gene stable ID’ and ‘Transcript stable
ID’; ‘Gene stable ID’ and ‘Gene name’; ‘Gene stable ID’ and ‘NCBI gene
(formerly Entrezgene) ID’ for GSE33479. For GSE114489, a file containing
the attributes ‘Gene stable ID’ and ‘AFFY HuGene 1 0 st v1 probe’ was
downloaded. The Bioconductor package edgeR (3.28.1) was used to
calculate CPM values. R package pROC (1.17.0.1) was used to calculate
AUC and generate ROC curves. Gene set enrichment analysis and pathway
analysis was performed using Bioconductor packages ideal (1.10.0), fgsea
(1.14) with MSigDB gene set collections <a href="https://www.gsea-msigdb.org/gsea/msigdb/collections.jsp" class="uri">https://www.gsea-msigdb.org/gsea/msigdb/collections.jsp</a>,
limma (3.42.2), pathview (1.26.0), enrichR (3.0), gage (2.36.0) with
gageData (2.24.0), ReactomePA (1.30), progeny (1.8.0) and dorothea
(0.99.0). Deconvolution analysis was performed for microarray data using
estimate (1.0.11) and for RNA-seq data using imsig (1.1.3). imsig
requires filtering out genes with low variance which was performed with
the package matrixStats (0.59.0). R package stats (3.6.0) used to
generate principal component analysis data. ggplot2 (3.3.3), pheatmap
(1.0.12), RColorBrewer (1.1-2) were used for making plots and ggpubr
(0.4.0) was used to perform Welch’s t-test. tidyr (1.1.3), tibble
(3.1.2), dplyr (2.0.6) and magrittr (2.0.1) were used for general data
processing and formatting. The analysis was presented in a web
application using shiny (1.5.0) hosted on a server running R (3.6.0).
Code was written using RStudio Workbench (1.4.1717.3) using R
(4.0.3).</p>
</div>
<div id="references" class="section level2">
<h2>References:</h2>
<p>Davis, S. and Meltzer, P. S. GEOquery: a bridge between the Gene
Expression Omnibus (GEO) and BioConductor. Bioinformatics, 2007, 14,
1846-1847</p>
<p>Ritchie, M.E., Phipson, B., Wu, D., Hu, Y., Law, C.W., Shi, W., and
Smyth, G.K. (2015). limma powers differential expression analyses for
RNA-sequencing and microarray studies. Nucleic Acids Research 43(7),
e47.</p>
<p>Hervé Pagès, Marc Carlson, Seth Falcon and Nianhua Li (2020).
AnnotationDbi: Manipulation of SQLite-based annotations in Bioconductor.
R package version 1.52.0. <a href="https://bioconductor.org/packages/AnnotationDbi" class="uri">https://bioconductor.org/packages/AnnotationDbi</a></p>
<p>Marc Carlson (2019). org.Hs.eg.db: Genome wide annotation for Human.
R package version 3.10.0.</p>
<p>McCarthy DJ, Chen Y and Smyth GK (2012). Differential expression
analysis of multifactor RNA-Seq experiments with respect to biological
variation. Nucleic Acids Research 40, 4288-4297</p>
<p>Xavier Robin, Natacha Turck, Alexandre Hainard, Natalia Tiberti,
Frédérique Lisacek, Jean-Charles Sanchez and Markus Müller (2011). pROC:
an open-source package for R and S+ to analyze and compare ROC curves.
BMC Bioinformatics, 12, p. 77. DOI: 10.1186/1471-2105-12-77 <a href="http://www.biomedcentral.com/1471-2105/12/77/" class="uri">http://www.biomedcentral.com/1471-2105/12/77/</a></p>
<p>Federico Marini (2020). ideal: an R/Bioconductor package for
Interactive Differential Expression Analysis, bioRxiv URL <a href="http://bioconductor.org/packages/ideal/" class="uri">http://bioconductor.org/packages/ideal/</a> doi:
10.1101/2020.01.10.901652</p>
<p>G. Korotkevich, V. Sukhov, A. Sergushichev. Fast gene set enrichment
analysis. bioRxiv (2019), <a href="doi:10.1101/060012" class="uri">doi:10.1101/060012</a></p>
<p>Luo, W. and Brouwer C., Pathview: an R/Bioconductor package for
pathway-based data integration and visualization. Bioinformatics, 2013,
29(14): 1830-1831, doi: 10.1093/bioinformatics/btt285</p>
<p>Wajid Jawaid (2021). enrichR: Provides an R Interface to ‘Enrichr’. R
package version 3.0. <a href="https://CRAN.R-project.org/package=enrichR" class="uri">https://CRAN.R-project.org/package=enrichR</a></p>
<p>Luo, W., Friedman, M., Shedden K., Hankenson, K. and Woolf, P GAGE:
Generally Applicable Gene Set Enrichment for Pathways Analysis. BMC
Bioinformatics, 2009, 10:161</p>
<p>Weijun Luo (2020). gageData: Auxillary data for gage package. R
package version 2.28.0.</p>
<p>Guangchuang Yu, Qing-Yu He. ReactomePA: an R/Bioconductor package for
reactome pathway analysis and visualization. Molecular BioSystems 2016,
12(2):477-479</p>
<p>M Schubert, B Klinger, M Klünemann, A Sieber, F Uhlitz, S Sauer, MJ
Garnett, N Blüthgen, and J Saez-Rodriguez. 2018. “Perturbation-Response
Genes Reveal Signaling Footprints in Cancer Gene Expression.” Nature
Communications 9 (1)</p>
<p>Christian H. Holland, Luz Garcia-Alonso, Alberto Valdeolivas, Minoo
Ashtiani and Attila Gabor (NA). dorothea: Collection Of Human And Mouse
TF Regulons. R package version 0.99.0. <a href="https://github.com/saezlab/dorothea" class="uri">https://github.com/saezlab/dorothea</a></p>
<p>Kosuke Yoshihara, Hoon Kim and Roel GW Verhaak (2013). estimate:
ESTIMATE: Estimate of STromal and Immune cells in MAlignant Tumor
tissues using Expression data. R package version 1.0.11.</p>
<p>Ajit Johnson Nirmal (2021). imsig: Immune Cell Gene Signatures for
Profiling the Microenvironment of Solid Tumours. R package version
1.1.3. <a href="https://CRAN.R-project.org/package=imsig" class="uri">https://CRAN.R-project.org/package=imsig</a></p>
<p>Henrik Bengtsson (2021). matrixStats: Functions that Apply to Rows
and Columns of Matrices (and to Vectors). R package version 0.59.0. <a href="https://CRAN.R-project.org/package=matrixStats" class="uri">https://CRAN.R-project.org/package=matrixStats</a></p>
<p>H. Wickham. ggplot2: Elegant Graphics for Data Analysis.
Springer-Verlag New York, 2016.</p>
<p>Raivo Kolde (2019). pheatmap: Pretty Heatmaps. R package version
1.0.12. <a href="https://CRAN.R-project.org/package=pheatmap" class="uri">https://CRAN.R-project.org/package=pheatmap</a></p>
<p>Erich Neuwirth (2014). RColorBrewer: ColorBrewer Palettes. R package
version 1.1-2. <a href="https://CRAN.R-project.org/package=RColorBrewer" class="uri">https://CRAN.R-project.org/package=RColorBrewer</a></p>
<p>Alboukadel Kassambara (2020). ggpubr: ‘ggplot2’ Based Publication
Ready Plots. R package version 0.4.0. <a href="https://CRAN.R-project.org/package=ggpubr" class="uri">https://CRAN.R-project.org/package=ggpubr</a></p>
<p>Hadley Wickham (2021). tidyr: Tidy Messy Data. R package version
1.1.3. <a href="https://CRAN.R-project.org/package=tidyr" class="uri">https://CRAN.R-project.org/package=tidyr</a></p>
<p>Kirill Müller and Hadley Wickham (2021). tibble: Simple Data Frames.
R package version 3.1.2. <a href="https://CRAN.R-project.org/package=tibble" class="uri">https://CRAN.R-project.org/package=tibble</a></p>
<p>Hadley Wickham, Romain François, Lionel Henry and Kirill Müller
(2021). dplyr: A Grammar of Data Manipulation. R package version 1.0.6.
<a href="https://CRAN.R-project.org/package=dplyr" class="uri">https://CRAN.R-project.org/package=dplyr</a></p>
<p>Stefan Milton Bache and Hadley Wickham (2020). magrittr: A
Forward-Pipe Operator for R. R package version 2.0.1. <a href="https://CRAN.R-project.org/package=magrittr" class="uri">https://CRAN.R-project.org/package=magrittr</a></p>
<p>Winston Chang, Joe Cheng, JJ Allaire, Carson Sievert, Barret
Schloerke, Yihui Xie, Jeff Allen, Jonathan McPherson, Alan Dipert and
Barbara Borges (2021). shiny: Web Application Framework for R. R package
version 1.6.0. <a href="https://CRAN.R-project.org/package=shiny" class="uri">https://CRAN.R-project.org/package=shiny</a></p>
<p>R Core Team (2020). R: A language and environment for statistical
computing. R Foundation for Statistical Computing, Vienna, Austria. <a href="https://www.R-project.org/" class="uri">https://www.R-project.org/</a>.</p>
<p>RStudio Team (2021). RStudio: Integrated Development Environment for
R. RStudio, PBC, Boston, MA URL <a href="http://www.rstudio.com/" class="uri">http://www.rstudio.com/</a>.</p>
</div>
</div>
